/* ---------------------------------- fonts --------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;1,400;1,700&display=swap");
/* --------------------------------- colors --------------------------------- */
/* ------------------------------- breakpoints ------------------------------ */
/* --------------------------------- mix-ins -------------------------------- */
/* --------------------------------- styles --------------------------------- */
.-full-width {
  width: 100%;
}

.-flex {
  display: flex;
}

.-col {
  flex-direction: column;
}

.-jc-c {
  justify-content: center;
}

.-jc-sa {
  justify-content: space-around;
}

.-jc-sb {
  justify-content: space-between;
}

.-jc-end {
  justify-content: flex-end;
}

.-al-c {
  align-items: center;
}

.-wrap {
  flex-wrap: wrap;
}

.-gap5 {
  gap: 5px;
}

.-gap10 {
  gap: 10px;
}

.-gap15 {
  gap: 15px;
}

.-gap20 {
  gap: 20px;
}

body {
  background-color: #F5F5F5;
  margin: 0px;
  display: flex;
  justify-content: center;
  font-family: "Cousine", Courier, monospace;
  color: #3C292D;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

a {
  font-style: italic;
  text-underline-offset: 10px;
  text-decoration-thickness: 0.75px;
  color: #3C292D;
  transition: all 1s ease;
}

p {
  padding: 0px;
}

a:hover {
  word-spacing: 5px;
}

h1 {
  font-weight: bold;
  font-style: italic;
  margin: 0px;
  font-size: 30px;
}

.apple {
  background-color: #E37682;
}

.spotify {
  background-color: #A5D5A8;
}

.venn-circle {
  border-radius: 100%;
  border: 0.5px solid #3C292D;
  width: 100px;
  height: 100px;
  display: flex;
  mix-blend-mode: darken;
}
.venn-circle.landing {
  border-width: 0.75px;
  height: 250px;
  width: 250px;
}
.venn-circle.landing.spotify {
  margin-left: -125px;
  margin-top: 125px;
}
@media (max-width: 480px) {
  .venn-circle.landing {
    height: 150px;
    width: 150px;
  }
  .venn-circle.landing.spotify {
    margin-left: -75px;
    margin-top: 75px;
  }
}
.venn-circle.playlist {
  height: 25px;
  width: 25px;
}
.venn-circle.playlist.spotify {
  margin-left: -12.5px;
}
.venn-circle.icon {
  height: 50px;
  width: 50px;
}
.venn-circle.icon.spotify {
  margin-left: -25px;
  margin-top: 25px;
}

.button {
  border: 0.5px solid #3C292D;
  padding: 7px;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  font-style: italic;
}

#landing-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  gap: 50px;
  flex-wrap: wrap;
}
@media (max-width: 950px) {
  #landing-wrapper {
    flex-direction: column;
  }
}

#log-in-wrapper {
  gap: 30px;
  font-size: 20px;
  font-weight: 400;
  width: 330px;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
@media (max-width: 480px) {
  #log-in-wrapper {
    font-size: 15px;
    width: 300px;
  }
}

#dashboard-wrapper {
  display: flex;
  width: 90%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#header-wrapper {
  transform: translateY(25%);
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  flex-wrap: wrap;
}

#menu-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
  font-size: 12px;
  gap: 20px;
}
#menu-wrapper > a {
  text-underline-offset: 6px;
  margin-top: 13px;
}

.user-icon {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  border: 0.5px solid #3C292D;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

#dashboard-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-top: 100px;
  width: 100%;
}

#content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  flex-direction: column;
  width: 80%;
  max-width: 850px;
  gap: 20px;
}

#divider {
  height: 0.75px;
  width: 100%;
  background-color: #D6CACD;
  display: block;
}

.blend-title-opts-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
}
.blend-title-opts-wrapper > a {
  text-decoration: none;
  font-style: normal;
  font-size: 18px;
  margin-top: 7px;
}

.blend-opts-wrapper {
  display: flex;
  gap: 15px;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

#export {
  background-color: #D6CACD;
}

#invite-link-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 50px;
  width: 100%;
}

#invite-wrapper {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

#invite-title-opts-wrapper {
  display: flex;
  width: 102%;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}
#invite-title-opts-wrapper > p {
  font-size: 12px;
}
#invite-title-opts-wrapper > a {
  font-size: 12px;
  margin-top: 10px;
  text-underline-offset: 7px;
}

#invite {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border: 0.5px solid #3C292D;
  background-color: #D6CACD;
  padding: 5px;
  font-size: 14px;
}

#empty-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 50px;
  width: 100%;
}/*# sourceMappingURL=main.css.map */